<!DOCTYPE html>
<html lang="en">
<head>
	<title>WebUI for App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="container">
		<div class="left-panel">
			<button class="button" id="installed_programs">Installed Programs</button>
			<button class="button" id="ip_address">IP address</button>
			<button class="button" id="rdp">RDP</button>
			<button class="button" id="os_battery_and_time">Battery and Time</button>
			<button class="button" id="ms_defender_status">MS Defender status</button>
			<button class="button" id="empty_dirs">Search for empty dirs</button>
			<button class="button" id="languages_list">Languages list</button>
			<button class="button" id="mac">MAC address</button>
			<button class="button" id="hostname">Hostname</button>
		</div>
		<div class="right-panel" id="output">
			<div id="start">
				<label for="dir">Enter start dir</label>
				<input type="text" class="input" id="dir" placeholder="Default: C:\">
			</div>
		</div>
	</div>

	<script src="../static/script.js"></script>
</body>
</html>
